    </main>
    <footer style="background: #fff; border-top: 1px solid #eaeaea; margin-top: auto;">
        <div class="container text-center text-gray-500 py-8">
            &copy; 2025 Campus Eats. All rights reserved.
        </div>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>



